@media only screen and (max-width:1200px){
    img{
        width:100%;
    }
    .imageSize{
        width:100%;
        height:230px;
    }
}
@media only screen and (max-width:760px){
    .col-4{
        width:50%;
    }
    .tshirts{
        width:100%;
    }
}
@media only screen and (max-width:600px){
    .navigation{
        display: none;
    }
    .icon{
        float:left;
        display:block;
    }
}
@media only screen and (max-width:420){
}